<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869710636149-oncqf6nredpn1hs6sotfupt1j3ebu6f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869710636149-oncqf6nredpn1hs6sotfupt1j3ebu6f6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>869710636149-q7sbobjivtunfctts9p14to1hj5q6iuv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv-UVKlNWCCzJNLOmKln_j_R-We6ZVeok</string>
	<key>GCM_SENDER_ID</key>
	<string>869710636149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karangupta.yellowwall</string>
	<key>PROJECT_ID</key>
	<string>ff-ywtext</string>
	<key>STORAGE_BUCKET</key>
	<string>ff-ywtext.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869710636149:ios:0ab287a29098cf4564843c</string>
</dict>
</plist>